@import './partials/variables';
@import './partials/header';
@import './partials/transactions';


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.app {
  background-color: #EFEDE8;
  height: 100vh;
}